html {
  font-size: 16px;
}
#main-wrapper {
  width: 100vw;
  height: 100vh;
}
#stream-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  float: left;
  width: 80vw;
  height: 100vh;
  background-color: hsla(0, 0%, 3%, 1);
}
#chat-wrapper {
  float: right;
  width: 20vw;
  height: 100vh;
  background-color: hsla(0, 0%, 6%, 1);
}
#site-description {
  width: 40vw;
  color: white;
}
#welcome-form {
  width: 100%;
}
.channel-input {
  display: inline;
  margin-bottom: 1em;
  border-radius: 4px;
  border: 1px solid transparent;
}
.input-wrapper {
  position: relative;
}
.icon {
  position: absolute;
  display: inline;
  background-color: white;
  border-radius: 0 4px 4px 0;
  padding: 4px;
  top: 2px;
  right: 4px;
  font-size: 1.5em;
}
.glyphicon-ok {
  color: green;
}
.glyphicon-remove {
  color: red;
}
